@model Ia_ComandaRestaurante.Models.ViewModels.Copa

@{
    ViewData["Title"] = "Delete";
}

<h1>Concluir</h1>

<h3>O pedido já foi entregue?</h3>
<div>
    <h4>Cozinha</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCopa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCopa)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCopa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista</a>
    </form>
</div>