@model Ia_ComandaRestaurante.Models.ViewModels.MesaFormViewModel

@{
    ViewData["Title"] = "Reservar Mesa";
}

<h1>Reservar Mesa</h1>

<h4>Mesa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mesa.NomeDoCliente" class="control-label"></label>
                <input asp-for="Mesa.NomeDoCliente" class="form-control" />
                <span asp-validation-for="Mesa.NomeDoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesa.NumeroDaMesa" class="control-label"></label>
                <select asp-for="Mesa.NumeroDaMesa" asp-items="@(new SelectList(Model.ListaMesaDisponivel,"IdMesa","NumeroDaMesa"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mesa.QuantidadeDePessoas" class="control-label"></label>
                <input asp-for="Mesa.QuantidadeDePessoas" class="form-control" />
                <span asp-validation-for="Mesa.QuantidadeDePessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesa.Observacoes" class="control-label"></label>
                <input asp-for="Mesa.Observacoes" class="form-control" />
                <span asp-validation-for="Mesa.Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesa.Disponibilidade" class="control-label"></label>
                <select asp-for="Mesa.Disponibilidade" asp-items="@(new SelectList(Model.ListaMesaTotal,"Disponibilidade","Disponibilidade"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista de mesas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
